In [1]:
%pwd

'C:\\Users\\tysir'

In [2]:
file_path = 'house_sales.csv'
house_sales_df = pd.read_csv(file_path)

NameError: name 'pd' is not defined

In [3]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
file_path = 'house_sales.csv'
house_sales_df = pd.read_csv(file_path)

In [5]:
missing_values = house_sales_df.isnull()
print(missing_values)

          id   date  price  bedrooms  bathrooms  sqft_living  sqft_lot  \
0      False  False  False     False      False        False     False
1      False  False  False     False      False        False     False
2      False  False  False     False      False        False     False
3      False  False  False     False      False        False     False
4      False  False  False     False      False        False     False
...      ...    ...    ...       ...        ...          ...       ...
21608  False  False  False     False      False        False     False
21609  False  False  False     False      False        False     False
21610  False  False  False     False      False        False     False
21611  False  False  False     False      False        False     False
21612  False  False  False     False      False        False     False

       floors  waterfront   view  ...  grade  sqft_above  sqft_basement  \
0       False       False  False  ...  False       False          False
1       False       False  False  ...  False       False          False
2       False       False  False  ...  False       False          False
3       False       False  False  ...  False       False          False
4       False       False  False  ...  False       False          False
...       ...         ...    ...  ...    ...         ...            ...
21608   False       False  False  ...  False       False          False
21609   False       False  False  ...  False       False          False
21610   False       False  False  ...  False       False          False
21611   False       False  False  ...  False       False          False
21612   False       False  False  ...  False       False          False

       yr_built  yr_renovated  zipcode    lat   long  sqft_living15  \
0         False         False    False  False  False          False
1         False         False    False  False  False          False
2         False         False    False  False  False          False
3         False         False    False  False  False          False
4         False         False    False  False  False          False
...         ...           ...      ...    ...    ...            ...
21608     False         False    False  False  False          False
21609     False         False    False  False  False          False
21610     False         False    False  False  False          False
21611     False         False    False  False  False          False
21612     False         False    False  False  False          False

       sqft_lot15
0           False
1           False
2           False
3           False
4           False
...           ...
21608       False
21609       False
21610       False
21611       False
21612       False

[21613 rows x 21 columns]

In [6]:
print(house_sales_df)
#21613 rows and 21 columns

               id             date     price  bedrooms  bathrooms  \
0      7129300520  20141013T000000  221900.0       3.0       1.00
1      6414100192  20141209T000000  538000.0       3.0       2.25
2      5631500400  20150225T000000  180000.0       2.0       1.00
3      2487200875  20141209T000000  604000.0       4.0       3.00
4      1954400510  20150218T000000  510000.0       3.0       2.00
...           ...              ...       ...       ...        ...
21608   263000018  20140521T000000  360000.0       3.0       2.50
21609  6600060120  20150223T000000  400000.0       4.0       2.50
21610  1523300141  20140623T000000  402101.0       2.0       0.75
21611   291310100  20150116T000000  400000.0       3.0       2.50
21612  1523300157  20141015T000000  325000.0       2.0       0.75

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
0           1180.0    5650.0     1.0           0     0  ...      7
1           2570.0    7242.0     2.0           0     0  ...      7
2            770.0   10000.0     1.0           0     0  ...      6
3           1960.0    5000.0     1.0           0     0  ...      7
4           1680.0    8080.0     1.0           0     0  ...      8
...            ...       ...     ...         ...   ...  ...    ...
21608       1530.0    1131.0     3.0           0     0  ...      8
21609       2310.0    5813.0     2.0           0     0  ...      8
21610       1020.0    1350.0     2.0           0     0  ...      7
21611       1600.0    2388.0     2.0           0     0  ...      8
21612       1020.0    1076.0     2.0           0     0  ...      7

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
0            1180              0      1955             0    98178  47.5112
1            2170            400      1951          1991    98125  47.7210
2             770              0      1933             0    98028  47.7379
3            1050            910      1965             0    98136  47.5208
4            1680              0      1987             0    98074  47.6168
...           ...            ...       ...           ...      ...      ...
21608        1530              0      2009             0    98103  47.6993
21609        2310              0      2014             0    98146  47.5107
21610        1020              0      2009             0    98144  47.5944
21611        1600              0      2004             0    98027  47.5345
21612        1020              0      2008             0    98144  47.5941

          long  sqft_living15  sqft_lot15
0     -122.257           1340        5650
1     -122.319           1690        7639
2     -122.233           2720        8062
3     -122.393           1360        5000
4     -122.045           1800        7503
...        ...            ...         ...
21608 -122.346           1530        1509
21609 -122.362           1830        7200
21610 -122.299           1020        2007
21611 -122.069           1410        1287
21612 -122.299           1020        1357

[21613 rows x 21 columns]

In [8]:
missing_values = house_sales_df.isnull().sum()
print(missing_values)
#Black or null values in the dataset

id                  0
date                0
price               0
bedrooms         1134
bathrooms        1068
sqft_living      1110
sqft_lot         1044
floors              0
waterfront          0
view                0
condition           0
grade               0
sqft_above          0
sqft_basement       0
yr_built            0
yr_renovated        0
zipcode             0
lat                 0
long                0
sqft_living15       0
sqft_lot15          0
dtype: int64

In [9]:
house_sales_df.dropna(subset=['bedrooms'], inplace=True)

In [10]:
house_sales_df.dropna(subset=['bathrooms'], inplace=True)
house_sales_df.dropna(subset=['sqft_living'], inplace=True)
house_sales_df.dropna(subset=['sqft_lot'], inplace=True)
#Removed all black or null values from the dataset
#Still 17618 rows of data left to analyze

In [11]:
print(house_sales_df)

               id             date     price  bedrooms  bathrooms  \
0      7129300520  20141013T000000  221900.0       3.0       1.00
1      6414100192  20141209T000000  538000.0       3.0       2.25
2      5631500400  20150225T000000  180000.0       2.0       1.00
3      2487200875  20141209T000000  604000.0       4.0       3.00
4      1954400510  20150218T000000  510000.0       3.0       2.00
...           ...              ...       ...       ...        ...
21608   263000018  20140521T000000  360000.0       3.0       2.50
21609  6600060120  20150223T000000  400000.0       4.0       2.50
21610  1523300141  20140623T000000  402101.0       2.0       0.75
21611   291310100  20150116T000000  400000.0       3.0       2.50
21612  1523300157  20141015T000000  325000.0       2.0       0.75

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
0           1180.0    5650.0     1.0           0     0  ...      7
1           2570.0    7242.0     2.0           0     0  ...      7
2            770.0   10000.0     1.0           0     0  ...      6
3           1960.0    5000.0     1.0           0     0  ...      7
4           1680.0    8080.0     1.0           0     0  ...      8
...            ...       ...     ...         ...   ...  ...    ...
21608       1530.0    1131.0     3.0           0     0  ...      8
21609       2310.0    5813.0     2.0           0     0  ...      8
21610       1020.0    1350.0     2.0           0     0  ...      7
21611       1600.0    2388.0     2.0           0     0  ...      8
21612       1020.0    1076.0     2.0           0     0  ...      7

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
0            1180              0      1955             0    98178  47.5112
1            2170            400      1951          1991    98125  47.7210
2             770              0      1933             0    98028  47.7379
3            1050            910      1965             0    98136  47.5208
4            1680              0      1987             0    98074  47.6168
...           ...            ...       ...           ...      ...      ...
21608        1530              0      2009             0    98103  47.6993
21609        2310              0      2014             0    98146  47.5107
21610        1020              0      2009             0    98144  47.5944
21611        1600              0      2004             0    98027  47.5345
21612        1020              0      2008             0    98144  47.5941

          long  sqft_living15  sqft_lot15
0     -122.257           1340        5650
1     -122.319           1690        7639
2     -122.233           2720        8062
3     -122.393           1360        5000
4     -122.045           1800        7503
...        ...            ...         ...
21608 -122.346           1530        1509
21609 -122.362           1830        7200
21610 -122.299           1020        2007
21611 -122.069           1410        1287
21612 -122.299           1020        1357

[17618 rows x 21 columns]