In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
file_path = 'house_sales.csv'
house_sales_df = pd.read_csv(file_path)

In [3]:
print(house_sales_df)

               id             date     price  bedrooms  bathrooms  \
0      7129300520  20141013T000000  221900.0       3.0       1.00
1      6414100192  20141209T000000  538000.0       3.0       2.25
2      5631500400  20150225T000000  180000.0       2.0       1.00
3      2487200875  20141209T000000  604000.0       4.0       3.00
4      1954400510  20150218T000000  510000.0       3.0       2.00
...           ...              ...       ...       ...        ...
21608   263000018  20140521T000000  360000.0       3.0       2.50
21609  6600060120  20150223T000000  400000.0       4.0       2.50
21610  1523300141  20140623T000000  402101.0       2.0       0.75
21611   291310100  20150116T000000  400000.0       3.0       2.50
21612  1523300157  20141015T000000  325000.0       2.0       0.75

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
0           1180.0    5650.0     1.0           0     0  ...      7
1           2570.0    7242.0     2.0           0     0  ...      7
2            770.0   10000.0     1.0           0     0  ...      6
3           1960.0    5000.0     1.0           0     0  ...      7
4           1680.0    8080.0     1.0           0     0  ...      8
...            ...       ...     ...         ...   ...  ...    ...
21608       1530.0    1131.0     3.0           0     0  ...      8
21609       2310.0    5813.0     2.0           0     0  ...      8
21610       1020.0    1350.0     2.0           0     0  ...      7
21611       1600.0    2388.0     2.0           0     0  ...      8
21612       1020.0    1076.0     2.0           0     0  ...      7

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
0            1180              0      1955             0    98178  47.5112
1            2170            400      1951          1991    98125  47.7210
2             770              0      1933             0    98028  47.7379
3            1050            910      1965             0    98136  47.5208
4            1680              0      1987             0    98074  47.6168
...           ...            ...       ...           ...      ...      ...
21608        1530              0      2009             0    98103  47.6993
21609        2310              0      2014             0    98146  47.5107
21610        1020              0      2009             0    98144  47.5944
21611        1600              0      2004             0    98027  47.5345
21612        1020              0      2008             0    98144  47.5941

          long  sqft_living15  sqft_lot15
0     -122.257           1340        5650
1     -122.319           1690        7639
2     -122.233           2720        8062
3     -122.393           1360        5000
4     -122.045           1800        7503
...        ...            ...         ...
21608 -122.346           1530        1509
21609 -122.362           1830        7200
21610 -122.299           1020        2007
21611 -122.069           1410        1287
21612 -122.299           1020        1357

[21613 rows x 21 columns]

In [4]:
house_sales_df.fillna(house_sales_df.mean(), inplace=True)

C:\Users\tysir\AppData\Local\Temp\ipykernel_8620\1768563397.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  house_sales_df.fillna(house_sales_df.mean(), inplace=True)

In [5]:
house_sales_df.fillna(house_sales_df.mean(numeric_only=True).round(1), inplace=True)

In [6]:
print(house_sales_df)

               id             date     price  bedrooms  bathrooms  \
0      7129300520  20141013T000000  221900.0       3.0       1.00
1      6414100192  20141209T000000  538000.0       3.0       2.25
2      5631500400  20150225T000000  180000.0       2.0       1.00
3      2487200875  20141209T000000  604000.0       4.0       3.00
4      1954400510  20150218T000000  510000.0       3.0       2.00
...           ...              ...       ...       ...        ...
21608   263000018  20140521T000000  360000.0       3.0       2.50
21609  6600060120  20150223T000000  400000.0       4.0       2.50
21610  1523300141  20140623T000000  402101.0       2.0       0.75
21611   291310100  20150116T000000  400000.0       3.0       2.50
21612  1523300157  20141015T000000  325000.0       2.0       0.75

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
0           1180.0    5650.0     1.0           0     0  ...      7
1           2570.0    7242.0     2.0           0     0  ...      7
2            770.0   10000.0     1.0           0     0  ...      6
3           1960.0    5000.0     1.0           0     0  ...      7
4           1680.0    8080.0     1.0           0     0  ...      8
...            ...       ...     ...         ...   ...  ...    ...
21608       1530.0    1131.0     3.0           0     0  ...      8
21609       2310.0    5813.0     2.0           0     0  ...      8
21610       1020.0    1350.0     2.0           0     0  ...      7
21611       1600.0    2388.0     2.0           0     0  ...      8
21612       1020.0    1076.0     2.0           0     0  ...      7

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
0            1180              0      1955             0    98178  47.5112
1            2170            400      1951          1991    98125  47.7210
2             770              0      1933             0    98028  47.7379
3            1050            910      1965             0    98136  47.5208
4            1680              0      1987             0    98074  47.6168
...           ...            ...       ...           ...      ...      ...
21608        1530              0      2009             0    98103  47.6993
21609        2310              0      2014             0    98146  47.5107
21610        1020              0      2009             0    98144  47.5944
21611        1600              0      2004             0    98027  47.5345
21612        1020              0      2008             0    98144  47.5941

          long  sqft_living15  sqft_lot15
0     -122.257           1340        5650
1     -122.319           1690        7639
2     -122.233           2720        8062
3     -122.393           1360        5000
4     -122.045           1800        7503
...        ...            ...         ...
21608 -122.346           1530        1509
21609 -122.362           1830        7200
21610 -122.299           1020        2007
21611 -122.069           1410        1287
21612 -122.299           1020        1357

[21613 rows x 21 columns]

In [7]:
missing_values = house_sales_df.isnull().sum()

In [8]:
print(missing_values)

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [9]:
house_sales_df.to_csv("housesales.csv", index=False)

In [10]:
Print(housesales)

NameError: name 'Print' is not defined

In [11]:
file_path = 'housesales.csv'
housesales_df = pd.read_csv(file_path)

In [12]:
print(housesales_df)

               id             date     price  bedrooms  bathrooms  \
0      7129300520  20141013T000000  221900.0       3.0       1.00
1      6414100192  20141209T000000  538000.0       3.0       2.25
2      5631500400  20150225T000000  180000.0       2.0       1.00
3      2487200875  20141209T000000  604000.0       4.0       3.00
4      1954400510  20150218T000000  510000.0       3.0       2.00
...           ...              ...       ...       ...        ...
21608   263000018  20140521T000000  360000.0       3.0       2.50
21609  6600060120  20150223T000000  400000.0       4.0       2.50
21610  1523300141  20140623T000000  402101.0       2.0       0.75
21611   291310100  20150116T000000  400000.0       3.0       2.50
21612  1523300157  20141015T000000  325000.0       2.0       0.75

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
0           1180.0    5650.0     1.0           0     0  ...      7
1           2570.0    7242.0     2.0           0     0  ...      7
2            770.0   10000.0     1.0           0     0  ...      6
3           1960.0    5000.0     1.0           0     0  ...      7
4           1680.0    8080.0     1.0           0     0  ...      8
...            ...       ...     ...         ...   ...  ...    ...
21608       1530.0    1131.0     3.0           0     0  ...      8
21609       2310.0    5813.0     2.0           0     0  ...      8
21610       1020.0    1350.0     2.0           0     0  ...      7
21611       1600.0    2388.0     2.0           0     0  ...      8
21612       1020.0    1076.0     2.0           0     0  ...      7

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
0            1180              0      1955             0    98178  47.5112
1            2170            400      1951          1991    98125  47.7210
2             770              0      1933             0    98028  47.7379
3            1050            910      1965             0    98136  47.5208
4            1680              0      1987             0    98074  47.6168
...           ...            ...       ...           ...      ...      ...
21608        1530              0      2009             0    98103  47.6993
21609        2310              0      2014             0    98146  47.5107
21610        1020              0      2009             0    98144  47.5944
21611        1600              0      2004             0    98027  47.5345
21612        1020              0      2008             0    98144  47.5941

          long  sqft_living15  sqft_lot15
0     -122.257           1340        5650
1     -122.319           1690        7639
2     -122.233           2720        8062
3     -122.393           1360        5000
4     -122.045           1800        7503
...        ...            ...         ...
21608 -122.346           1530        1509
21609 -122.362           1830        7200
21610 -122.299           1020        2007
21611 -122.069           1410        1287
21612 -122.299           1020        1357

[21613 rows x 21 columns]

In [14]:
missing_values = housesales_df.isnull().sum()
print(missing_values)

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64